* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "inter400";
    src: url(fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: "inter500";
    src: url(fonts/Inter-Medium.ttf);
}
@font-face {
    font-family: "inter600";
    src: url(fonts/Inter-SemiBold.ttf);
}
@font-face {
    font-family: "inter700";
    src: url(fonts/Inter-Bold.ttf);
}

.i_400 {
    font-family: "inter400";
}
.i_500 {
    font-family: "inter500";
}
.i_600 {
    font-family: "inter600";
}
.i_700 {
    font-family: "inter700";
}

/* FOOTER STYLE */
footer {
    /* width: 566px; */
    min-height: 175px;
}
